body {
    background: #2A2C30;
}

.texto {
    margin-top: 7%;
    color: #ffffff;
    font-family: 'Berlin Sans FB Demi', sans-serif;
                                                
}
h4 {
    font-size: 17px;
}

p {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 11px;
}